* {
    padding: 0;
    margin: 0;
}

html {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
}

header h1 {
    font-weight: normal;
    font-size: 50px;
    padding-top: 30px;
    display: block;
}

.download {
    text-decoration: underline;
    font-size: 16px;
    padding: 60px 0;
}

section h2 {
    font-weight: 300;
    font-size: 42px;
    padding: 40px 0;
}

section p {
    font-size: 21px;
    color: gray;
}

section img {
    padding: 20px;
    display: block;
    margin: 10px auto;
}

footer #coming {
    font-weight: 300;
    font-size: 42px;
    color: white;
}

section .download a p {
    text-decoration: underline;
    font-size: 16px;
    padding: 10px 0;
    color: aquamarine;
}

#copy {
    text-align: right;
    font-size: 21px;
    color: gray;
    margin: 10px;
}